.imagegallery-container {
  padding: 30px 5%;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  width: 100%;
  overflow: hidden;
}

.image-gallery div {
  width: 100%;
  height: 250px;
  padding: 0px 0px 40px;
  border: 1px solid #007bff;
  position: relative;
}

.image-gallery div .tags {
  position: absolute;
  bottom: -8px;
  left: 0px;
  display: flex;
  align-items: center;
  border: none;
}
.image-gallery div .tags span {
  border: 1px solid #007bff;
  padding: 0px 5px 4px;
  color: #007bff;
  margin-right: 10px;
  border-radius: 10px;
}

.image-gallery img {
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 110px;
}
.search-form div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 123, 255, 0.3);
  border-radius: 5px;
  padding: 5px 10px;
}

.search-form input {
  padding: 3px;
  outline: none;
  border: none;
}

.no-results {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

@media screen and (max-width: 1200px) {
  .image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}

@media screen and (max-width: 900px) {
  .image-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}

@media screen and (max-width: 500px) {
  .image-gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
}
