.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000000000;
}

.loader img {
  width: 100px;
}
