* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

img {
  object-fit: cover;
}

a {
  text-decoration: none;
}
